.mat-column {
  width: auto;
  text-align: center;
}

.mat-table {
  margin-top: 20px;
}

.spacer {
  flex: 1 1 auto;
}


.green-color {
  color:green;
}

.red-color {
  color:red;
}

.yellow-color {
  color:yellow;
}